body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flex-display{
    display: flex;
    margin-bottom: 150px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;  
}
.extra-style{
    color: orange;
}
.half-side{
    width: 40%;
    padding:10%;
    text-align: justify;
    
}
.top-banner img{
    width: 80%;
    
}
h1{
    font-size: 40px;
    font-weight: 700;
}
h2{
    font-size: 30px;
    font-weight: 700;
}
.link-btn{
    text-decoration: none;
    padding:10px 20px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-image:linear-gradient(orange, tomato);
    border-radius: 20%;
}
.link-btn:hover{
    opacity: .4;
}
.mid-banner{
    display: flex;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
    
}
.mid-banner img{
    width: 80%;   
}
.exp-itm{

    width: 40%;
    margin: 5%;
    box-shadow: 5px 10px 30px #585252;
    padding: 10px;
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
} 
footer p{
    text-align: center;
    font-weight: 700;
}

.broder1{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) 1;

}
.broder2{
    border-left: 7px solid;
    border-image: linear-gradient(red, cyan) 1;
}


@media only screen and (max-width: 500px) {
    .flex-display{
        display: block;
        margin-bottom: 150px;
    }
    .exp-itm{

        width: 90%;
        padding: 10%;
        box-shadow: 5px 10px 30px #585252;
       
    }
    .half-side{
        width: 100%;
        margin: 10px;
        text-align: justify;
        
    }
    .link-btn{
        display: block;
        text-decoration: none;
        padding:10px 20px;
        font-size: 20px;
        font-weight: 700;
        color: white;
        background-image:linear-gradient(orange, tomato);
        border-radius: 20%;
    }

  }